<table class="pure-table pure-table-bordered">
  <thead>
  <tr>
    <th>Title</th>
    <th>Thumbnail</th>
    <th>Payout</th>
  </tr>
  </thead>

  <tbody>
  <% offers.each do |offer| %>
      <tr>
        <td><%= offer['title'] %></td>
        <td><img src="<%= offer['thumbnail']['lowres'] %>"></td>
        <td><%= offer['payout'] %></td>
      </tr>
  <% end %>
  </tbody>
</table>