<div class="form-wrapper">
  <form class="pure-form pure-form-aligned" accept-charset="UTF-8" action="/offers/search" method="get" >
    <fieldset>
      <div class="pure-control-group">
        <input name="uid" type="text" placeholder="UID">
      </div>

      <div class="pure-control-group">
        <input name="pub0" type="text" placeholder="Pub0">
      </div>

      <div class="pure-control-group">
        <input name="page" type="text" placeholder="Page">
      </div>

      <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Submit</button>
      </div>
    </fieldset>
  </form>

  <% if defined? no_offers_found %>
      <h1>No offers found</h1>
  <% end %>
</div>
